* {
  box-sizing: border-box;
}
body {
  line-height: 1;
}

.only-pc {
  @media (max-width: 575px) {
    display: none;
  }
}

.two-columns {
  display: flex;
  justify-content: flex-start;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .container {
//     width: 600px;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .container {
//     width: 860px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .container {
//     width: 1180px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1440px) {
//   .container {
//     width: 1280px;
//   }
// }

// .container {
//   margin-left: auto;
//   margin-right: auto;
// }

body {
  font-family: NotoSansCJKtc, 微軟正黑體, sans-serif;
}

header {
  img.top-ad {
    width: 100%;
  }
  .info-box {
    position: relative;
    z-index: 1;
    padding: 12px 0px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #6f6f6f;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.19);
  }

  .top-header {
    position: relative;
    background-color: #f5f5f5;

    .container {
      padding: 51px 0 35px;
      display: flex;
    }
    .logo-box {
      width: 350px;
      margin-right: 52px;
      img {
        width: 100%;
      }
    }

    .search-box {
      width: 584px;
      .search-bar {
        position: relative;
        height: 47px;
        padding: 0 0 0 16px;
        border-radius: 33px;
        border: solid 3px #ec6d6d;
        display: flex;
        align-items: center;
        // background-color: #ffffff;

        select {
          font-size: 16px;
          line-height: 3.74;
          letter-spacing: 1.08px;
          text-align: center;
          color: #3b3b3b;
          background-color: transparent;
          border-width: 0;
        }

        .line {
          width: 2px;
          height: 35px;
          margin-left: 9px;
          background-color: #c3c3c3;
        }

        input {
          background-color: transparent;
          border-width: 0;
          padding: 0 15px;
          font-size: 16px;

          &:focus {
            outline: none;
          }

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #aaa;
            opacity: 1; /* Firefox */
          }

          :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #aaa;
          }

          ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #aaa;
          }
        }

        button {
          background-color: transparent;
          border-width: 0;
          border-radius: 50%;
          background-color: #dd4646;
          color: white;
          height: 47px;
          width: 47px;
          float: right;
          position: absolute;
          right: -3px;
          cursor: pointer;
          i {
            font-size: 20px;
          }

          &:hover {
            background-color: #e01e1e;
          }
        }
      }

      .suggestion-box {
        margin-top: 7px;
        margin-left: 16px;
        font-size: 12px;
        height: 40px;
        overflow: hidden;

        a {
          display: inline-block;
          padding-top: 8px;
          color: #6f6f6f;
          text-decoration: none;
          margin: 0 2px;

          &:hover {
            color: #333;
          }
        }
      }
    }

    .member-box {
      position: absolute;
      top: 31px;
      right: 0;
      margin-left: 100px;
      font-size: 13px;
      .greeting {
        color: #6f6f6f;

        .username {
          color: #d42020;
        }
      }
      .option-box {
        margin-top: 4px;
        width: 288px;
        height: 113px;
        padding: 0px 23px 0px 21px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-image: linear-gradient(to top, #eb3737, #ec6d6d);
        display: flex;
        justify-content: space-between;
        align-items: center;

        a.option {
          text-decoration: none;
          .icon-box {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            color: #eb5b5b;
            text-align: center;

            i {
              font-size: 23px;
              line-height: 50px;
            }
          }
          .title {
            color: white;
            margin-top: 9px;
            text-align: center;
          }
        }
      }
    }
  }

  .top-menu {
    background-color: #d41d40;
    color: white;

    .nav .nav-link {
      color: white;
      border-radius: 20px;
    }

    .nav .nav-link.active,
    .nav .nav-link:hover {
      background-color: white;
      color: #d41d40;
    }

    .container {
      overflow: auto;
    }

    .nav {
      display: block;
      white-space: nowrap;

      li {
        display: inline-block;
      }
    }
  }

  .second-menu {
    background-color: #005bac;

    &.navbar {
      padding-top: 0;
      padding-bottom: 0;
    }

    .nav .nav-link {
      display: inline-block;
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .nav .nav-link.active,
    .nav .nav-link:hover {
      background-color: #6394dd;
    }
  }

  .single-item {
    position: relative;
    img {
      width: 100%;
    }
    .slick-arrow {
      z-index: 1;
    }
    .slick-prev {
      left: 10px;
    }
    .slick-next {
      right: 10px;
    }
  }
}

.main-box {
  background-color: #f5f5f5;
  padding: 32px 0;
  &.more-bottom-padding {
    padding-bottom: 60px;
  }

  & .container > .title-box {
    text-align: center;

    .title {
      text-align: center;
      font-family: LaoMN, 微軟正黑體, sans-serif;
      font-size: 45.5px;
      font-weight: bold;
      color: #004a98;
    }

    .second-title {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 1.25px;
      color: #a3a3a3;
    }

    .line {
      width: 81px;
      height: 6px;
      background-color: #004a98;
      margin: 17px auto 0;
    }
  }

  .contact-box {
    display: flex;
    padding-top: 66px;
    margin: 0 -15px;
    justify-content: center;

    .contact-item {
      position: relative;
      flex: 1;
      padding-top: 28%;
      @media (max-width: 1400px) {
        padding-top: 32%;
      }
      @media (max-width: 1200px) {
        padding-top: 38%;
      }
      margin: 0 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 4px 1.9px 0.1px rgba(4, 0, 0, 0.35);
      border-radius: 5px;
      max-width: 462.1px;
      max-height: 320.4px;

      &:first-child {
        background-image: url("../images/contact-pink.png");
      }
      &:nth-child(2) {
        background-image: url("../images/contact-blue.png");
        button {
          background-color: #005bac;
        }
        .number {
          color: #005bac;
        }
      }

      .content-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .title {
        margin-top: calc(50% - 100px);
        font-family: DFLiHeiStd-W7, 微軟正黑體, sans-serif;
        font-size: 56px;
        font-weight: bold;
        letter-spacing: 5.6px;
        color: #ffffff;
        width: 100%;
        @media (max-width: 991px) {
          font-size: 36px;
          margin-top: calc(50% - 72px);
        }
        @media (max-width: 767px) {
          font-size: 26px;
          margin-top: calc(50% - 52px);
        }
      }

      button {
        margin-top: 5%;
        padding: 10px 27px;
        background-color: #ec6d6d;
        border: 5px solid white;
        font-family: DFLiHeiStd-W7, 微軟正黑體, sans-serif;
        font-size: 36px;
        color: #ffffff;
        text-align: center;
        border-radius: 51px;
        @media (max-width: 991px) {
          font-size: 25px;
          padding: 7px 19px;
        }
        @media (max-width: 767px) {
          font-size: 20px;
          padding: 4px 12px;
        }
      }

      .number {
        position: absolute;
        bottom: 1%;
        width: 100%;
        text-align: center;
        font-family: GillSansMT, 微軟正黑體, sans-serif;
        font-size: 55.5px;
        font-weight: bold;
        font-style: italic;
        line-height: 1.14;
        letter-spacing: 0.56px;
        text-align: center;
        color: #ec6d6d;
        @media (max-width: 991px) {
          font-size: 36px;
          bottom: 2%;
        }
        @media (max-width: 767px) {
          font-size: 26px;
          bottom: 2%;
        }
      }
    }
  }

  .count-down-box {
    display: flex;
    justify-content: center;
    .time-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 72px;
      height: 82px;
      margin: 28px 6px 25px 0;
      border-radius: 3.8px;
      color: white;
      background-color: #d41d40;
      font-size: 19.5px;
      text-align: center;

      .value {
        display: block;
        font-size: 34.5px;
        margin-bottom: 3px;
      }
    }
  }

  .group-buying-box {
    margin: 0 auto;
    white-space: nowrap;
    width: 978px;
    // overflow-x: auto;
    @media (max-width: 1220px) {
      width: 652px;
    }
    @media (max-width: 840px) {
      width: 326px;
    }

    .slick-arrow:before {
      color: #888;
    }
    .item {
      display: inline-block;
      width: 316px;
      border-radius: 5px;
      border: solid 1px #aaaaaa;
      overflow: hidden;
      margin: 0 3px;
      .photo {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 239px;
        background-color: #ebe3e4;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .info-box {
        padding: 14px 43px;
        .user-photo {
          width: 93px;
          height: 93px;
          min-width: 93px;
          min-height: 93px;
          border-radius: 47px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .user-content {
          flex: 1;
          margin-left: 5px;
          margin-right: 8px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .user-tag-box {
          display: flex;
          text-align: right;
          flex-direction: column;
          align-items: flex-end;

          .tag {
            display: block;
            padding: 2px 8px;
            margin-bottom: 6px;
            background-color: #005bac;

            font-size: 11px;
            // text-align: justify;
            color: #ffffff;

            &:nth-child(2n) {
              background-color: transparent;
              border: 1px solid #005bac;
              color: #005bac;
            }
          }
        }

        .user-name {
          font-size: 19.5px;
          letter-spacing: 1.46px;
          color: #005bac;
        }
        .popularity-box {
          position: relative;
          width: 238px;
          height: 49px;
          margin-top: 17px;
          margin-bottom: 8px;
          border: solid 1.1px #7a7a7a;
          text-align: center;
          padding-top: 10px;

          .title {
            position: absolute;
            top: -10px;
            left: 20px;
            padding: 0 3px;
            display: inline-block;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.19px;
            text-align: justify;
            color: #ff005c;
            background-color: #f5f5f5;
          }

          .value {
            font-family: DFLiHeiStd-W5, 微軟正黑體, sans-serif;
            font-size: 34.5px;
            font-weight: 500;
            letter-spacing: -0.17px;
            text-align: justify;
            color: #ff005c;
          }
        }

        .text {
          font-size: 13px;
          line-height: 1.38;
          letter-spacing: 0.98px;
          color: #1f1f1f;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          display: -webkit-box;
          max-height: 51px;
          overflow: hidden;
        }
      }

      .bottom-product-box {
        text-align: right;
        .product-name {
          margin: 0 29px;
          font-size: 22.5px;
          font-weight: 500;
          letter-spacing: -0.11px;
          margin-bottom: 7px;
          margin-top: 32px;
          color: #2a2a2a;

          .tag {
            display: inline-block;
            padding: 6px 4px 6px 7px;
            border: solid 0.8px #2a2a2a;
            color: #2a2a2a;
            font-size: 13px;
            margin-bottom: 10px;
          }
        }

        .black-bottom {
          position: relative;
          padding: 14px 14px 11px;
          opacity: 0.88;
          background-color: #000000;

          a {
            display: inline-block;
            padding: 16px 8px 16px 13px;
            border-radius: 15px;
            background-color: #d04545;
            color: white;
            font-size: 26px;
            font-weight: 600;
            text-decoration: none;

            &:hover {
              // background-color: #ea2525;
            }
          }

          .product-img {
            width: 146px;
            height: 94px;
            position: absolute;
            left: 16px;
            bottom: 31px;
          }
        }
      }
    }
  }

  .main-product-box {
    margin: 43px 21px 39px 13px;
    padding: 10px 6px 19px 7px;
    border: solid 0.8px #626262;
    background-color: #ffffff;

    .product-count-down-box {
      margin: 0 0 7px;
      padding: 13px 0;
      background-color: #d41d40;
      font-size: 31.5px;
      color: white;
      text-align: center;

      .time-item {
        font-size: 22px;

        .value {
          font-size: 33px;
          display: inline-block;
          width: 40px;
        }
      }

      &.small-count-down {
        background-color: transparent;
        font-size: 20px;
        color: #d41d40;
        text-align: left;
        .value {
          font-size: 33px;
        }
      }
    }

    .main-info {
      position: relative;
      display: flex;
      @media (max-width: 991px) {
        flex-direction: column;
      }
      .left-box {
        position: relative;
        flex: 1;
        // width: 55%;
        iframe {
          width: 100%;
        }
        img {
          width: 100%;
        }

        .two-columns {
          // width: 100%;
          margin-top: 14px;
          & > div {
            flex: 1;
            &:first-child {
              margin-right: 8px;
            }
          }
        }

        .one-image {
          display: flex;
          align-items: center;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
        }
      }
      .right-box {
        width: 45%;
        @media (max-width: 1199px) {
          width: 55%;
        }
        @media (max-width: 991px) {
          width: unset;
        }
        padding: 25px 12px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-size: 38.5px;
          font-weight: 500;
          letter-spacing: 2.89px;
          color: #222222;
          text-align: center;

          img {
            width: calc(100% - 24px);
          }
        }

        .content-box {
          .item {
            padding: 19px 0;
            border-bottom: 1px solid #b5b5b5;
            &:last-child {
              border-bottom: 0;
            }

            .field-name {
              font-size: 13px;
              display: inline-block;
              border: 1px solid #222;
              margin-left: 10px;
            }

            .field-name ~ .content {
              font-size: 14px;
              padding: 0 10px;
            }

            .content {
              font-size: 15px;
              display: inline-block;
              line-height: 1.47em;
              color: #363636;
              padding: 0 15px;
            }
          }
        }

        .target-box {
          padding: 12px 9px 12px 15px;
          background-color: #f1f1f1;
          .little-title-box {
            display: flex;
            justify-content: space-between;
            color: #383838;
            font-size: 15px;
          }

          .order-bar {
            border-radius: 14.3px;
            margin: 5px 0 11px;

            .bar-line {
              padding: 4px 25px;
              font-size: 19.5px;
            }
          }

          .percent {
            text-align: right;
            color: #005bac;
          }
        }
        .right-tip {
          text-align: right;
          margin-top: 5px;
          margin-right: 5px;
          font-size: 14px;
        }

        .price-box {
          padding: 0px 42px;
          display: flex;
          align-items: center;
          .origin-price {
            padding-top: 20px;
            font-size: 15px;
            letter-spacing: 1.5px;
            color: #707070;
            text-decoration: line-through;
          }
          .tag {
            margin-top: 6px;
            display: inline-block;
            color: #d41d40;
            padding: 3px 12px 3px 12px;
            border-radius: 16.8px;
            border: solid 3px #d41d40;
          }
          .price-right-box {
            color: #ff005c;
            .value {
              font-family: LiGothicMed, sans-serif;
              font-size: 102.5px;
              font-style: italic;
            }
            .second-big {
              font-size: 26px;
            }
            .small {
              font-size: 15px;
            }
          }

          &.dark-style {
            .tag {
              margin-top: 6px;
              display: inline-block;
              color: #a31111;
              padding: 3px 12px 3px 12px;
              border-radius: 16.8px;
              border: solid 3px #a31111;
            }

            .price-right-box {
              color: #a31111;
            }
          }
        }
        .select-box {
          padding: 0 42px;
          select {
            width: 100%;
            padding: 5px 10px;
          }
        }
        .bottom-button-box {
          padding: 5px 42px 0;
          display: flex;
          button {
            flex: 1;
            padding: 14px 0;
            border-radius: 3.8px;
            border: solid 1.1px #d41d40;
            background-color: #fde1e6;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 2px;
            color: #d41d40;
            &:hover {
              background-color: #cab4b8;
              color: #9f1b32;
            }

            i {
              margin-left: -5px;
            }

            &:nth-child(2) {
              margin-left: 8px;
              background-color: #d41d40;
              color: white;

              &:hover {
                background-color: #d41d40;
                color: #cacaca;
              }
            }
          }
        }
      }
    }
  }

  .main-product-box2 .container {
    display: flex;
    margin: 32px 0 39px;
    justify-content: center;
    .item {
      flex: 1;
      max-width: 470px;
      margin-left: 17px;
      &:first-child {
        margin-left: 0;
      }
    }
    .image-box {
      position: relative;
      padding-top: calc(100% - 82px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .tag-box {
        position: absolute;
        img {
          width: 100%;
        }
      }

      .tag1-box {
        top: 7%;
        left: 10%;
        width: 30%;
      }

      .tag2-box {
        bottom: 92px;
        right: 14px;
        width: 20%;
      }

      .tag3-box {
        top: 0;
        right: 14px;
        background-image: linear-gradient(to top, #ae114a, #f11818);
        font-size: 30.5px;
        letter-spacing: 3.05px;
        text-align: center;
        color: #ffffff;
        padding: 9px 12px 9px;
        border-radius: 7.5px;
        box-shadow: 0px 2px 1.9px 0.1px rgba(4, 0, 0, 0.56);
      }

      .product-count-down-box {
        color: white;
        text-align: center;
        padding: 18px 0 14px;
        background-color: rgba(0, 0, 0, 0.63);
        .count-down-title {
          margin-bottom: 8px;
        }
        .time-item {
          font-size: 26.5px;
          font-weight: 500;
          letter-spacing: 2.65px;
          text-align: center;
          color: #ffffff;
          .value {
            display: inline-block;
            width: 38px;
          }
        }
      }
    }

    .info-box-outter {
      .info-box {
        padding: 15px 10px 3px 29px;
        box-shadow: 0px 1px 6.4px 0.6px rgba(4, 0, 0, 0.32);
        background-color: #ffffff;

        h3.title {
          font-size: 37px;
          font-weight: 500;
          letter-spacing: 7.4px;
          text-align: center;
          color: #575757;
          margin-bottom: 41px;
        }

        .two-columns {
          align-items: center;
        }

        .order-bar {
          flex: 1;
          border-radius: 35px;
          margin-right: 12px;

          .bar-line {
            padding: 10px 13px;
            font-size: 23px;
          }
        }

        .unit {
          font-size: 19px;
          letter-spacing: 0.48px;
          color: #8d8d8d;
        }

        .bottom-box {
          justify-content: space-between;
        }

        .price-box {
          color: #a31111;
          .value {
            font-family: LiGothicMed, sans-serif;
            font-size: 107px;
            font-style: italic;
          }
          .box {
            display: inline-block;
            text-align: right;
            margin-left: 16px;
          }
          .second-big {
            font-size: 31px;
          }
          .small {
            font-size: 25px;
          }
          .gray {
            margin-top: 7px;
            font-size: 20px;
            letter-spacing: -0.2px;
            color: #6d6d6d;
          }
        }

        button.buy {
          padding: 16px 17px 14px 23px;
          border-radius: 7.5px;
          background-color: #d31459;
          border: 0;
          font-size: 34px;
          letter-spacing: 3.4px;
          text-align: center;
          color: #ffffff;
          float: right;
          margin-top: 18px;
        }
      }
    }
  }

  .gray-line {
    width: 100%;
    height: 1px;
    background-color: #bfbfbf;
    margin-bottom: 60px;
  }
}

.fa-truck {
  transform: scaleX(-1);
  color: #ccc;
}

.order-bar {
  position: relative;
  background-color: #e3899a;
  overflow: hidden;

  .bar-line {
    background-color: #d41d40;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(4, 0, 0, 0.8);
    white-space: nowrap;
  }
}
