* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

@media (max-width: 575px) {
  .only-pc {
    display: none;
  }
}

.two-columns {
  display: flex;
  justify-content: flex-start;
}

body {
  font-family: NotoSansCJKtc;
}

header img.top-ad {
  width: 100%;
}
header .info-box {
  position: relative;
  z-index: 1;
  padding: 12px 0px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  background-color: #f5f5f5;
  box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.19);
}
header .top-header {
  position: relative;
  background-color: #f5f5f5;
}
header .top-header .container {
  padding: 51px 0 35px;
  display: flex;
}
header .top-header .logo-box {
  width: 350px;
  margin-right: 52px;
}
header .top-header .logo-box img {
  width: 100%;
}
header .top-header .search-box {
  width: 584px;
}
header .top-header .search-box .search-bar {
  position: relative;
  height: 47px;
  padding: 0 0 0 16px;
  border-radius: 33px;
  border: solid 3px #ec6d6d;
  display: flex;
  align-items: center;
}
header .top-header .search-box .search-bar select {
  font-size: 16px;
  line-height: 3.74;
  letter-spacing: 1.08px;
  text-align: center;
  color: #3b3b3b;
  background-color: transparent;
  border-width: 0;
}
header .top-header .search-box .search-bar .line {
  width: 2px;
  height: 35px;
  margin-left: 9px;
  background-color: #c3c3c3;
}
header .top-header .search-box .search-bar input {
  background-color: transparent;
  border-width: 0;
  padding: 0 15px;
  font-size: 16px;
}
header .top-header .search-box .search-bar input:focus {
  outline: none;
}
header .top-header .search-box .search-bar input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1;
  /* Firefox */
}
header .top-header .search-box .search-bar input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}
header .top-header .search-box .search-bar input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa;
}
header .top-header .search-box .search-bar button {
  background-color: transparent;
  border-width: 0;
  border-radius: 50%;
  background-color: #dd4646;
  color: white;
  height: 47px;
  width: 47px;
  float: right;
  position: absolute;
  right: -3px;
  cursor: pointer;
}
header .top-header .search-box .search-bar button i {
  font-size: 20px;
}
header .top-header .search-box .search-bar button:hover {
  background-color: #e01e1e;
}
header .top-header .search-box .suggestion-box {
  margin-top: 7px;
  margin-left: 16px;
  font-size: 12px;
  height: 40px;
  overflow: hidden;
}
header .top-header .search-box .suggestion-box a {
  display: inline-block;
  padding-top: 8px;
  color: #6f6f6f;
  text-decoration: none;
  margin: 0 2px;
}
header .top-header .search-box .suggestion-box a:hover {
  color: #333;
}
header .top-header .member-box {
  position: absolute;
  top: 31px;
  right: 0;
  margin-left: 100px;
  font-size: 13px;
}
header .top-header .member-box .greeting {
  color: #6f6f6f;
}
header .top-header .member-box .greeting .username {
  color: #d42020;
}
header .top-header .member-box .option-box {
  margin-top: 4px;
  width: 288px;
  height: 113px;
  padding: 0px 23px 0px 21px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to top, #eb3737, #ec6d6d);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .member-box .option-box a.option {
  text-decoration: none;
}
header .top-header .member-box .option-box a.option .icon-box {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  color: #eb5b5b;
  text-align: center;
}
header .top-header .member-box .option-box a.option .icon-box i {
  font-size: 23px;
  line-height: 50px;
}
header .top-header .member-box .option-box a.option .title {
  color: white;
  margin-top: 9px;
  text-align: center;
}
header .top-menu {
  background-color: #d41d40;
  color: white;
}
header .top-menu .nav .nav-link {
  color: white;
  border-radius: 20px;
}
header .top-menu .nav .nav-link.active,
header .top-menu .nav .nav-link:hover {
  background-color: white;
  color: #d41d40;
}
header .top-menu .container {
  overflow: auto;
}
header .top-menu .nav {
  display: block;
  white-space: nowrap;
}
header .top-menu .nav li {
  display: inline-block;
}
header .second-menu {
  background-color: #005bac;
}
header .second-menu.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
header .second-menu .nav .nav-link {
  display: inline-block;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header .second-menu .nav .nav-link.active,
header .second-menu .nav .nav-link:hover {
  background-color: #6394dd;
}
header .single-item {
  position: relative;
}
header .single-item img {
  width: 100%;
}
header .single-item .slick-arrow {
  z-index: 1;
}
header .single-item .slick-prev {
  left: 10px;
}
header .single-item .slick-next {
  right: 10px;
}

.main-box {
  background-color: #f5f5f5;
  padding: 32px 0;
}
.main-box .container > .title-box {
  text-align: center;
}
.main-box .container > .title-box .title {
  text-align: center;
  font-family: LaoMN;
  font-size: 45.5px;
  font-weight: bold;
  color: #004a98;
}
.main-box .container > .title-box .second-title {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #a3a3a3;
}
.main-box .container > .title-box .line {
  width: 81px;
  height: 6px;
  background-color: #004a98;
  margin: 17px auto 0;
}
.main-box .contact-box {
  display: flex;
  padding-top: 66px;
  margin: 0 -15px;
  justify-content: center;
}
.main-box .contact-box .contact-item {
  position: relative;
  flex: 1;
  padding-top: 28%;
  margin: 0 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 1.9px 0.1px rgba(4, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 462.1px;
  max-height: 320.4px;
}
@media (max-width: 1400px) {
  .main-box .contact-box .contact-item {
    padding-top: 32%;
  }
}
@media (max-width: 1200px) {
  .main-box .contact-box .contact-item {
    padding-top: 38%;
  }
}
.main-box .contact-box .contact-item:first-child {
  background-image: url("../images/contact-pink.png");
}
.main-box .contact-box .contact-item:nth-child(2) {
  background-image: url("../images/contact-blue.png");
}
.main-box .contact-box .contact-item:nth-child(2) button {
  background-color: #005bac;
}
.main-box .contact-box .contact-item:nth-child(2) .number {
  color: #005bac;
}
.main-box .contact-box .contact-item .content-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.main-box .contact-box .contact-item .title {
  margin-top: calc(50% - 100px);
  font-family: DFLiHeiStd-W7;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 5.6px;
  color: #ffffff;
  width: 100%;
}
@media (max-width: 991px) {
  .main-box .contact-box .contact-item .title {
    font-size: 36px;
    margin-top: calc(50% - 72px);
  }
}
@media (max-width: 767px) {
  .main-box .contact-box .contact-item .title {
    font-size: 26px;
    margin-top: calc(50% - 52px);
  }
}
.main-box .contact-box .contact-item button {
  margin-top: 5%;
  padding: 10px 27px;
  background-color: #ec6d6d;
  border: 5px solid white;
  font-family: DFLiHeiStd-W7;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  border-radius: 51px;
}
@media (max-width: 991px) {
  .main-box .contact-box .contact-item button {
    font-size: 25px;
    padding: 7px 19px;
  }
}
@media (max-width: 767px) {
  .main-box .contact-box .contact-item button {
    font-size: 20px;
    padding: 4px 12px;
  }
}
.main-box .contact-box .contact-item .number {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  font-family: GillSansMT;
  font-size: 55.5px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.56px;
  text-align: center;
  color: #ec6d6d;
}
@media (max-width: 991px) {
  .main-box .contact-box .contact-item .number {
    font-size: 36px;
    bottom: 2%;
  }
}
@media (max-width: 767px) {
  .main-box .contact-box .contact-item .number {
    font-size: 26px;
    bottom: 2%;
  }
}
.main-box .count-down-box {
  display: flex;
  justify-content: center;
}
.main-box .count-down-box .time-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72px;
  height: 82px;
  margin: 28px 6px 25px 0;
  border-radius: 3.8px;
  color: white;
  background-color: #d41d40;
  font-size: 19.5px;
  text-align: center;
}
.main-box .count-down-box .time-item .value {
  display: block;
  font-size: 34.5px;
  margin-bottom: 3px;
}
.main-box .group-buying-box {
  margin: 0 auto;
  white-space: nowrap;
  width: 978px;
}
@media (max-width: 1220px) {
  .main-box .group-buying-box {
    width: 652px;
  }
}
@media (max-width: 840px) {
  .main-box .group-buying-box {
    width: 326px;
  }
}
.main-box .group-buying-box .item {
  display: inline-block;
  width: 316px;
  border-radius: 5px;
  border: solid 1px #aaaaaa;
  overflow: hidden;
  margin: 0 3px;
}
.main-box .group-buying-box .item .photo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 239px;
  background-color: #ebe3e4;
}
.main-box .group-buying-box .item .photo iframe {
  width: 100%;
  height: 100%;
}
.main-box .group-buying-box .item .info-box {
  padding: 14px 43px;
}
.main-box .group-buying-box .item .info-box .user-photo {
  width: 93px;
  height: 93px;
  min-width: 93px;
  min-height: 93px;
  border-radius: 47px;
  overflow: hidden;
}
.main-box .group-buying-box .item .info-box .user-photo img {
  width: 100%;
  height: 100%;
}
.main-box .group-buying-box .item .info-box .user-content {
  flex: 1;
  margin-left: 5px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-box .group-buying-box .item .info-box .user-tag-box {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
}
.main-box .group-buying-box .item .info-box .user-tag-box .tag {
  display: block;
  padding: 2px 8px;
  margin-bottom: 6px;
  background-color: #005bac;
  font-size: 11px;
  color: #ffffff;
}
.main-box .group-buying-box .item .info-box .user-tag-box .tag:nth-child(2n) {
  background-color: transparent;
  border: 1px solid #005bac;
  color: #005bac;
}
.main-box .group-buying-box .item .info-box .user-name {
  font-family: NotoSansCJKtc;
  font-size: 19.5px;
  letter-spacing: 1.46px;
  color: #005bac;
}
.main-box .group-buying-box .item .info-box .popularity-box {
  position: relative;
  width: 238px;
  height: 49px;
  margin-top: 17px;
  margin-bottom: 8px;
  border: solid 1.1px #7a7a7a;
  text-align: center;
  padding-top: 10px;
}
.main-box .group-buying-box .item .info-box .popularity-box .title {
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 0 3px;
  display: inline-block;
  font-family: NotoSansCJKtc;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.19px;
  text-align: justify;
  color: #ff005c;
  background-color: #f5f5f5;
}
.main-box .group-buying-box .item .info-box .popularity-box .value {
  font-family: DFLiHeiStd-W5;
  font-size: 34.5px;
  font-weight: 500;
  letter-spacing: -0.17px;
  text-align: justify;
  color: #ff005c;
}
.main-box .group-buying-box .item .info-box .text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.98px;
  color: #1f1f1f;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 51px;
  overflow: hidden;
}
.main-box .group-buying-box .item .product-box {
  text-align: right;
}
.main-box .group-buying-box .item .product-box .product-name {
  margin: 0 29px;
  font-size: 22.5px;
  font-weight: 500;
  letter-spacing: -0.11px;
  margin-bottom: 7px;
  margin-top: 32px;
  color: #2a2a2a;
}
.main-box .group-buying-box .item .product-box .product-name .tag {
  display: inline-block;
  padding: 6px 4px 6px 7px;
  border: solid 0.8px #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  margin-bottom: 10px;
}
.main-box .group-buying-box .item .product-box .black-bottom {
  position: relative;
  padding: 14px 14px 11px;
  opacity: 0.88;
  background-color: #000000;
}
.main-box .group-buying-box .item .product-box .black-bottom a {
  display: inline-block;
  padding: 16px 8px 16px 13px;
  border-radius: 15px;
  background-color: #d04545;
  color: white;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}
.main-box .group-buying-box .item .product-box .black-bottom .product-img {
  width: 146px;
  height: 94px;
  position: absolute;
  left: 16px;
  bottom: 31px;
}

/*# sourceMappingURL=main.css.map */
