@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

@media (max-width: 575px) {
  .only-pc-tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

@media (min-width: 576px) {
  .only-mobile {
    display: none;
  }
}

.force-one-line {
  white-space: nowrap;
}

.two-columns {
  display: flex;
  justify-content: flex-start;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
}

body {
  font-family: NotoSansCJKtc, 微軟正黑體, sans-serif;
}

header img.top-ad {
  width: 100%;
}
header .info-box {
  position: relative;
  z-index: 1;
  padding: 12px 0px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  background-color: #f5f5f5;
  box-shadow: 0px 1px 1px 0px rgba(4, 0, 0, 0.19);
}
header .top-header {
  position: relative;
  background-color: #f5f5f5;
}
header .top-header .container {
  padding: 51px 0 35px;
  display: flex;
  padding-right: 280px;
}
@media (max-width: 991px) {
  header .top-header .container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  header .top-header .container {
    padding-right: 0px;
  }
}
header .top-header .logo-box {
  width: 350px;
  margin-right: 52px;
}
header .top-header .logo-box img {
  width: 100%;
}
header .top-header .search-box {
  width: 584px;
}
@media (max-width: 991px) {
  header .top-header .search-box {
    width: 95%;
    margin-top: 2em;
    margin-left: 5px;
  }
}
header .top-header .search-box .search-bar {
  position: relative;
  height: 47px;
  padding: 0 0 0 16px;
  border-radius: 33px;
  border: solid 3px #ec6d6d;
  display: flex;
  align-items: center;
}
header .top-header .search-box .search-bar select {
  font-size: 16px;
  line-height: 3.74;
  letter-spacing: 1.08px;
  text-align: center;
  color: #3b3b3b;
  background-color: transparent;
  border-width: 0;
}
header .top-header .search-box .search-bar .line {
  width: 2px;
  height: 35px;
  margin-left: 9px;
  background-color: #c3c3c3;
}
header .top-header .search-box .search-bar input {
  background-color: transparent;
  border-width: 0;
  padding: 0 15px;
  font-size: 16px;
}
header .top-header .search-box .search-bar input:focus {
  outline: none;
}
header .top-header .search-box .search-bar input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1;
  /* Firefox */
}
header .top-header .search-box .search-bar input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}
header .top-header .search-box .search-bar input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa;
}
header .top-header .search-box .search-bar button {
  background-color: transparent;
  border-width: 0;
  border-radius: 50%;
  background-color: #dd4646;
  color: white;
  height: 47px;
  width: 47px;
  float: right;
  position: absolute;
  right: -3px;
  cursor: pointer;
}
header .top-header .search-box .search-bar button i {
  font-size: 20px;
}
header .top-header .search-box .search-bar button:hover {
  background-color: #e01e1e;
}
header .top-header .search-box .suggestion-box {
  margin-top: 7px;
  margin-left: 16px;
  font-size: 12px;
  height: 40px;
  overflow: hidden;
}
header .top-header .search-box .suggestion-box a {
  display: inline-block;
  padding-top: 8px;
  color: #6f6f6f;
  text-decoration: none;
  margin: 0 2px;
}
header .top-header .search-box .suggestion-box a:hover {
  color: #333;
}
header .top-header .member-box {
  position: absolute;
  top: 31px;
  right: 0;
  font-size: 13px;
}
header .top-header .member-box .greeting {
  color: #6f6f6f;
}
header .top-header .member-box .greeting .username {
  color: #d42020;
}
header .top-header .member-box .option-box {
  margin-top: 4px;
  width: 288px;
  height: 113px;
  padding: 0px 23px 0px 21px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to top, #eb3737, #ec6d6d);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .member-box .option-box a.option {
  position: relative;
  text-decoration: none;
}
header .top-header .member-box .option-box a.option .icon-box {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  color: #eb5b5b;
  text-align: center;
}
header .top-header .member-box .option-box a.option .icon-box i {
  font-size: 23px;
  line-height: 50px;
}
header .top-header .member-box .option-box a.option .title {
  color: white;
  margin-top: 9px;
  text-align: center;
}
header .top-header .member-box .option-box a.option .number {
  width: 22px;
  color: white;
  background-color: #ef5e5e;
  height: 22px;
  position: absolute;
  top: -5px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  right: -5px;
  border: 2px solid #fff;
}
header .top-menu {
  background-color: #d41d40;
  color: white;
}
header .top-menu .nav .nav-link {
  color: white;
  border-radius: 20px;
}
header .top-menu .nav .nav-link.active,
header .top-menu .nav .nav-link:hover {
  background-color: white;
  color: #d41d40;
}
header .top-menu .container {
  overflow: auto;
}
header .top-menu .nav {
  display: block;
  white-space: nowrap;
}
header .top-menu .nav li {
  display: inline-block;
}
header .second-menu {
  background-color: #005bac;
}
header .second-menu.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
header .second-menu .nav .nav-link {
  display: inline-block;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header .second-menu .nav .nav-link.active,
header .second-menu .nav .nav-link:hover {
  background-color: #6394dd;
}
header .second-menu .nav-item {
  position: relative;
}
header .second-menu .nav-item:hover .dropdown-box {
  display: block;
}
header .second-menu .dropdown-box {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #005bac;
  color: white;
  width: 100%;
  padding-left: 0;
}
header .second-menu .dropdown-box li {
  text-align: center;
}
header .second-menu .dropdown-box li .nav-link {
  width: 100%;
  padding: 1rem 0;
}
header .single-item {
  position: relative;
}
header .single-item img {
  width: 100%;
}
header .single-item .slick-arrow {
  z-index: 1;
}
header .single-item .slick-prev {
  left: 10px;
}
header .single-item .slick-next {
  right: 15px;
}

.main-box {
  background-color: #f5f5f5;
  padding: 32px 0;
}
.main-box.more-bottom-padding {
  padding-bottom: 60px;
}
.main-box .container > .title-box {
  text-align: center;
}
.main-box .container > .title-box .title {
  text-align: center;
  font-family: LaoMN, 微軟正黑體, sans-serif;
  font-size: 45.5px;
  font-weight: bold;
  color: #004a98;
}
@media (max-width: 576px) {
  .main-box .container > .title-box .title {
    font-size: 40px;
  }
}
.main-box .container > .title-box .second-title {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #a3a3a3;
}
.main-box .container > .title-box .line {
  width: 81px;
  height: 6px;
  background-color: #004a98;
  margin: 17px auto 0;
}
.main-box .container > .title-box .small {
  font-size: 23.3px;
}
.main-box .container > .title-box .logo {
  width: 400px;
  text-align: center;
  margin: 0 auto 51px;
  margin-top: 60px;
}
@media (max-width: 576px) {
  .main-box .container > .title-box .logo {
    width: 80%;
  }
}
.main-box .container > .title-box .logo img {
  width: 100%;
}
.main-box .contact-box {
  display: flex;
  padding-top: 66px;
  margin: 0 -15px;
  justify-content: center;
}
.main-box .contact-box .contact-item {
  position: relative;
  flex: 1;
  padding-top: 28%;
  margin: 0 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 1.9px 0.1px rgba(4, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 462.1px;
  max-height: 320.4px;
}
@media (max-width: 1400px) {
  .main-box .contact-box .contact-item {
    padding-top: 32%;
  }
}
@media (max-width: 1200px) {
  .main-box .contact-box .contact-item {
    padding-top: 38%;
  }
}
.main-box .contact-box .contact-item:first-child {
  background-image: url("../images/contact-pink.png");
}
.main-box .contact-box .contact-item:nth-child(2) {
  background-image: url("../images/contact-blue.png");
}
.main-box .contact-box .contact-item:nth-child(2) button {
  background-color: #005bac;
}
.main-box .contact-box .contact-item:nth-child(2) .number {
  color: #005bac;
}
.main-box .contact-box .contact-item .content-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.main-box .contact-box .contact-item .title {
  margin-top: calc(50% - 100px);
  font-family: DFLiHeiStd-W7, 微軟正黑體, sans-serif;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 5.6px;
  color: #ffffff;
  width: 100%;
}
@media (max-width: 991px) {
  .main-box .contact-box .contact-item .title {
    font-size: 36px;
    margin-top: calc(50% - 72px);
  }
}
@media (max-width: 767px) {
  .main-box .contact-box .contact-item .title {
    font-size: 26px;
    margin-top: calc(50% - 52px);
  }
}
.main-box .contact-box .contact-item button {
  margin-top: 5%;
  padding: 10px 27px;
  background-color: #ec6d6d;
  border: 5px solid white;
  font-family: DFLiHeiStd-W7, 微軟正黑體, sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  border-radius: 51px;
}
@media (max-width: 991px) {
  .main-box .contact-box .contact-item button {
    font-size: 25px;
    padding: 7px 19px;
  }
}
@media (max-width: 767px) {
  .main-box .contact-box .contact-item button {
    font-size: 20px;
    padding: 4px 12px;
  }
}
.main-box .contact-box .contact-item .number {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  font-family: GillSansMT, 微軟正黑體, sans-serif;
  font-size: 55.5px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.14;
  letter-spacing: 0.56px;
  text-align: center;
  color: #ec6d6d;
}
@media (max-width: 991px) {
  .main-box .contact-box .contact-item .number {
    font-size: 36px;
    bottom: 2%;
  }
}
@media (max-width: 767px) {
  .main-box .contact-box .contact-item .number {
    font-size: 26px;
    bottom: 2%;
  }
}
.main-box .count-down-box {
  display: flex;
  justify-content: center;
}
.main-box .count-down-box .time-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72px;
  height: 82px;
  margin: 28px 6px 25px 0;
  border-radius: 3.8px;
  color: white;
  background-color: #d41d40;
  font-size: 19.5px;
  text-align: center;
}
.main-box .count-down-box .time-item .value {
  display: block;
  font-size: 34.5px;
  margin-bottom: 3px;
}
.main-box .group-buying-box {
  margin: 0 auto;
  white-space: nowrap;
  width: 978px;
}
@media (max-width: 1220px) {
  .main-box .group-buying-box {
    width: 652px;
  }
}
@media (max-width: 840px) {
  .main-box .group-buying-box {
    width: 326px;
  }
}
.main-box .group-buying-box .slick-arrow:before {
  color: #888;
}
.main-box .group-buying-box .item {
  display: inline-block;
  width: 316px;
  border-radius: 5px;
  border: solid 1px #aaaaaa;
  overflow: hidden;
  margin: 0 3px;
}
.main-box .group-buying-box .item .photo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 239px;
  background-color: #ebe3e4;
}
.main-box .group-buying-box .item .photo iframe {
  width: 100%;
  height: 100%;
}
.main-box .group-buying-box .item .info-box {
  padding: 14px 43px;
}
.main-box .group-buying-box .item .info-box .user-photo {
  width: 93px;
  height: 93px;
  min-width: 93px;
  min-height: 93px;
  border-radius: 47px;
  overflow: hidden;
}
.main-box .group-buying-box .item .info-box .user-photo img {
  width: 100%;
  height: 100%;
}
.main-box .group-buying-box .item .info-box .user-content {
  flex: 1;
  margin-left: 5px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-box .group-buying-box .item .info-box .user-tag-box {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
}
.main-box .group-buying-box .item .info-box .user-tag-box .tag {
  display: block;
  padding: 2px 8px;
  margin-bottom: 6px;
  background-color: #005bac;
  font-size: 11px;
  color: #ffffff;
}
.main-box .group-buying-box .item .info-box .user-tag-box .tag:nth-child(2n) {
  background-color: transparent;
  border: 1px solid #005bac;
  color: #005bac;
}
.main-box .group-buying-box .item .info-box .user-name {
  font-size: 19.5px;
  letter-spacing: 1.46px;
  color: #005bac;
}
.main-box .group-buying-box .item .info-box .popularity-box {
  position: relative;
  width: 238px;
  height: 49px;
  margin-top: 17px;
  margin-bottom: 8px;
  border: solid 1.1px #7a7a7a;
  text-align: center;
  padding-top: 10px;
}
.main-box .group-buying-box .item .info-box .popularity-box .title {
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 0 3px;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.19px;
  text-align: justify;
  color: #ff005c;
  background-color: #f5f5f5;
}
.main-box .group-buying-box .item .info-box .popularity-box .value {
  font-family: DFLiHeiStd-W5, 微軟正黑體, sans-serif;
  font-size: 34.5px;
  font-weight: 500;
  letter-spacing: -0.17px;
  text-align: justify;
  color: #ff005c;
}
.main-box .group-buying-box .item .info-box .text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.98px;
  color: #1f1f1f;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 51px;
  overflow: hidden;
}
.main-box .group-buying-box .item .bottom-product-box {
  text-align: right;
}
.main-box .group-buying-box .item .bottom-product-box .product-name {
  margin: 0 29px;
  font-size: 22.5px;
  font-weight: 500;
  letter-spacing: -0.11px;
  margin-bottom: 7px;
  margin-top: 32px;
  color: #2a2a2a;
}
.main-box .group-buying-box .item .bottom-product-box .product-name .tag {
  display: inline-block;
  padding: 6px 4px 6px 7px;
  border: solid 0.8px #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  margin-bottom: 10px;
}
.main-box .group-buying-box .item .bottom-product-box .black-bottom {
  position: relative;
  padding: 14px 14px 11px;
  opacity: 0.88;
  background-color: #000000;
}
.main-box .group-buying-box .item .bottom-product-box .black-bottom a {
  display: inline-block;
  padding: 16px 8px 16px 13px;
  border-radius: 15px;
  background-color: #d04545;
  color: white;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}
.main-box .group-buying-box .item .bottom-product-box .black-bottom .product-img {
  width: 146px;
  height: 94px;
  position: absolute;
  left: 16px;
  bottom: 31px;
}
.main-box .main-product-box {
  margin: 43px 0 39px 0;
  padding: 10px 6px 19px 7px;
  border: solid 0.8px #626262;
  background-color: #ffffff;
}
.main-box .main-product-box .product-count-down-box {
  margin: 0 0 7px;
  padding: 13px 0;
  background-color: #d41d40;
  font-size: 31.5px;
  color: white;
  text-align: center;
}
.main-box .main-product-box .product-count-down-box .time-item {
  font-size: 22px;
}
.main-box .main-product-box .product-count-down-box .time-item .value {
  font-size: 33px;
  display: inline-block;
  width: 40px;
}
.main-box .main-product-box .product-count-down-box.small-count-down {
  background-color: transparent;
  font-size: 20px;
  color: #d41d40;
  text-align: left;
}
.main-box .main-product-box .product-count-down-box.small-count-down .value {
  font-size: 33px;
}
.main-box .main-product-box .main-info {
  position: relative;
  display: flex;
}
@media (max-width: 991px) {
  .main-box .main-product-box .main-info {
    flex-direction: column;
  }
}
.main-box .main-product-box .main-info .left-box {
  position: relative;
  flex: 1;
}
.main-box .main-product-box .main-info .left-box iframe {
  width: 100%;
}
.main-box .main-product-box .main-info .left-box img {
  width: 100%;
}
.main-box .main-product-box .main-info .left-box .two-columns {
  margin-top: 14px;
}
.main-box .main-product-box .main-info .left-box .two-columns > div {
  flex: 1;
}
.main-box .main-product-box .main-info .left-box .two-columns > div:first-child {
  margin-right: 8px;
}
.main-box .main-product-box .main-info .left-box .one-image {
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.main-box .main-product-box .main-info .right-box {
  width: 45%;
  padding: 25px 12px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .main-box .main-product-box .main-info .right-box {
    width: 55%;
  }
}
@media (max-width: 991px) {
  .main-box .main-product-box .main-info .right-box {
    width: unset;
  }
}
.main-box .main-product-box .main-info .right-box .title {
  font-size: 38.5px;
  font-weight: 500;
  letter-spacing: 2.89px;
  color: #222222;
  text-align: center;
}
.main-box .main-product-box .main-info .right-box .title img {
  width: calc(100% - 24px);
}
.main-box .main-product-box .main-info .right-box .content-box .item {
  padding: 19px 0;
  border-bottom: 1px solid #b5b5b5;
}
.main-box .main-product-box .main-info .right-box .content-box .item:last-child {
  border-bottom: 0;
}
.main-box .main-product-box .main-info .right-box .content-box .item .field-name {
  font-size: 13px;
  display: inline-block;
  border: 1px solid #222;
  margin-left: 10px;
}
.main-box .main-product-box .main-info .right-box .content-box .item .field-name ~ .content {
  font-size: 14px;
  padding: 0 10px;
}
.main-box .main-product-box .main-info .right-box .content-box .item .content {
  font-size: 15px;
  display: inline-block;
  line-height: 1.47em;
  color: #363636;
  padding: 0 15px;
}
.main-box .main-product-box .main-info .right-box .target-box {
  padding: 12px 9px 12px 15px;
  background-color: #f1f1f1;
}
.main-box .main-product-box .main-info .right-box .target-box .little-title-box {
  display: flex;
  justify-content: space-between;
  color: #383838;
  font-size: 15px;
}
.main-box .main-product-box .main-info .right-box .target-box .order-bar {
  border-radius: 14.3px;
  margin: 5px 0 11px;
}
.main-box .main-product-box .main-info .right-box .target-box .order-bar .bar-line {
  padding: 4px 25px;
  font-size: 19.5px;
}
.main-box .main-product-box .main-info .right-box .target-box .percent {
  text-align: right;
  color: #005bac;
}
.main-box .main-product-box .main-info .right-box .right-tip {
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 14px;
}
.main-box .main-product-box .main-info .right-box .price-box {
  padding: 0px 42px;
  display: flex;
  align-items: center;
}
.main-box .main-product-box .main-info .right-box .price-box .origin-price {
  padding-top: 20px;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #707070;
  text-decoration: line-through;
}
.main-box .main-product-box .main-info .right-box .price-box .tag {
  margin-top: 6px;
  display: inline-block;
  color: #d41d40;
  padding: 3px 12px 3px 12px;
  border-radius: 16.8px;
  border: solid 3px #d41d40;
}
.main-box .main-product-box .main-info .right-box .price-box .price-right-box {
  color: #ff005c;
}
.main-box .main-product-box .main-info .right-box .price-box .price-right-box .value {
  font-family: LiGothicMed, sans-serif;
  font-size: 102.5px;
  font-style: italic;
}
.main-box .main-product-box .main-info .right-box .price-box .price-right-box .second-big {
  font-size: 26px;
}
.main-box .main-product-box .main-info .right-box .price-box .price-right-box .small {
  font-size: 15px;
}
.main-box .main-product-box .main-info .right-box .price-box.dark-style .tag {
  margin-top: 6px;
  display: inline-block;
  color: #a31111;
  padding: 3px 12px 3px 12px;
  border-radius: 16.8px;
  border: solid 3px #a31111;
}
.main-box .main-product-box .main-info .right-box .price-box.dark-style .price-right-box {
  color: #a31111;
}
.main-box .main-product-box .main-info .right-box .select-box {
  font-size: 16px;
  padding: 0 42px;
}
.main-box .main-product-box .main-info .right-box .select-box select {
  width: 100%;
  padding: 5px 10px;
}
.main-box .main-product-box .main-info .right-box .bottom-button-box {
  padding: 5px 42px 0;
  display: flex;
}
.main-box .main-product-box .main-info .right-box .bottom-button-box button {
  flex: 1;
  padding: 14px 0;
  border-radius: 3.8px;
  border: solid 1.1px #d41d40;
  background-color: #fde1e6;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #d41d40;
}
.main-box .main-product-box .main-info .right-box .bottom-button-box button:hover {
  background-color: #cab4b8;
  color: #9f1b32;
}
.main-box .main-product-box .main-info .right-box .bottom-button-box button i {
  margin-left: -5px;
}
.main-box .main-product-box .main-info .right-box .bottom-button-box button:nth-child(2) {
  margin-left: 8px;
  background-color: #d41d40;
  color: white;
}
.main-box .main-product-box .main-info .right-box .bottom-button-box button:nth-child(2):hover {
  background-color: #d41d40;
  color: #cacaca;
}
.main-box .main-product-box2 {
  display: flex;
  margin: 32px 0 39px;
  justify-content: center;
}
@media (max-width: 991px) {
  .main-box .main-product-box2 {
    flex-direction: column;
    align-items: center;
  }
}
.main-box .main-product-box2 .item {
  flex: 1;
  margin-left: 17px;
}
@media (max-width: 991px) {
  .main-box .main-product-box2 .item {
    margin-left: 0px;
    margin-bottom: 17px;
    width: 100%;
  }
}
.main-box .main-product-box2 .item:first-child {
  margin-left: 0;
}
.main-box .main-product-box2 .image-box {
  position: relative;
  padding-top: calc(100% - 82px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-box .main-product-box2 .image-box .tag-box {
  position: absolute;
}
.main-box .main-product-box2 .image-box .tag-box img {
  width: 100%;
}
.main-box .main-product-box2 .image-box .tag1-box {
  top: 7%;
  left: 10%;
  width: 30%;
}
.main-box .main-product-box2 .image-box .tag2-box {
  bottom: 92px;
  right: 14px;
  width: 20%;
}
.main-box .main-product-box2 .image-box .tag3-box {
  top: 0;
  right: 14px;
  background-image: linear-gradient(to top, #ae114a, #f11818);
  font-size: 30.5px;
  letter-spacing: 3.05px;
  text-align: center;
  color: #ffffff;
  padding: 9px 12px 9px;
  border-radius: 7.5px;
  box-shadow: 0px 2px 1.9px 0.1px rgba(4, 0, 0, 0.56);
}
.main-box .main-product-box2 .image-box .product-count-down-box {
  color: white;
  text-align: center;
  padding: 18px 0 14px;
  background-color: rgba(0, 0, 0, 0.63);
}
.main-box .main-product-box2 .image-box .product-count-down-box .count-down-title {
  margin-bottom: 8px;
}
.main-box .main-product-box2 .image-box .product-count-down-box .time-item {
  font-size: 26.5px;
  font-weight: 500;
  letter-spacing: 2.65px;
  text-align: center;
  color: #ffffff;
}
.main-box .main-product-box2 .image-box .product-count-down-box .time-item .value {
  display: inline-block;
  width: 38px;
}
.main-box .main-product-box2 .info-box-outter .info-box {
  padding: 15px 10px 3px 29px;
  box-shadow: 0px 1px 6.4px 0.6px rgba(4, 0, 0, 0.32);
  background-color: #ffffff;
}
.main-box .main-product-box2 .info-box-outter .info-box h3.title {
  font-size: 37px;
  font-weight: 500;
  letter-spacing: 7.4px;
  text-align: center;
  color: #575757;
  margin-bottom: 41px;
}
.main-box .main-product-box2 .info-box-outter .info-box .two-columns {
  align-items: center;
}
.main-box .main-product-box2 .info-box-outter .info-box .order-bar {
  flex: 1;
  border-radius: 35px;
  margin-right: 12px;
}
.main-box .main-product-box2 .info-box-outter .info-box .order-bar .bar-line {
  padding: 10px 13px;
  font-size: 23px;
}
.main-box .main-product-box2 .info-box-outter .info-box .unit {
  font-size: 19px;
  letter-spacing: 0.48px;
  color: #8d8d8d;
}
.main-box .main-product-box2 .info-box-outter .info-box .bottom-box {
  justify-content: space-between;
}
.main-box .main-product-box2 .info-box-outter .info-box .price-box {
  color: #a31111;
}
.main-box .main-product-box2 .info-box-outter .info-box .price-box .value {
  font-family: LiGothicMed, sans-serif;
  font-size: 107px;
  font-style: italic;
}
.main-box .main-product-box2 .info-box-outter .info-box .price-box .box {
  display: inline-block;
  text-align: right;
  margin-left: 16px;
}
.main-box .main-product-box2 .info-box-outter .info-box .price-box .second-big {
  font-size: 31px;
}
.main-box .main-product-box2 .info-box-outter .info-box .price-box .small {
  font-size: 25px;
}
.main-box .main-product-box2 .info-box-outter .info-box .price-box .gray {
  margin-top: 7px;
  font-size: 20px;
  letter-spacing: -0.2px;
  color: #6d6d6d;
}
.main-box .main-product-box2 .info-box-outter .info-box button.buy {
  padding: 16px 17px 14px 23px;
  border-radius: 7.5px;
  background-color: #d31459;
  border: 0;
  font-size: 34px;
  letter-spacing: 3.4px;
  text-align: center;
  color: #ffffff;
  float: right;
  margin-top: 18px;
}
.main-box .cooperation-brand {
  display: flex;
  padding: 47px 0;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .main-box .cooperation-brand {
    max-width: 500px;
  }
}
@media (max-width: 575px) {
  .main-box .cooperation-brand {
    align-items: center;
  }
}
.main-box .cooperation-brand .brand-item {
  position: relative;
  width: 169px;
  height: 119px;
  margin: 0px;
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .main-box .cooperation-brand .brand-item {
    width: 15%;
  }
}
@media (max-width: 991px) {
  .main-box .cooperation-brand .brand-item {
    width: 30%;
  }
}
@media (max-width: 575px) {
  .main-box .cooperation-brand .brand-item {
    width: 155px;
  }
}
.main-box .cooperation-brand .brand-item .more {
  border-radius: 18px;
  background-color: #005bac;
  color: white;
  font-size: 18.5px;
  letter-spacing: 2.78px;
  border-width: 0;
  padding: 8px 13px;
}
.main-box .cooperation-brand .brand-item .black {
  transition: opacity 0.3s;
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
}
.main-box .cooperation-brand .brand-item .black .text {
  display: block;
  padding-top: calc(50% - 36px);
}
.main-box .cooperation-brand .brand-item .black .link {
  display: inline-block;
  padding: 6px 7px;
  border-radius: 30px;
  margin-top: 10px;
  background-color: #e32326;
}
.main-box .cooperation-brand .brand-item:hover .black {
  opacity: 1;
}
.main-box .gray-line {
  width: 100%;
  height: 1px;
  background-color: #bfbfbf;
  margin-bottom: 60px;
}
.main-box .user-slider-box {
  display: flex;
  margin: 33px -14px;
}
@media (min-width: 992px) {
  .main-box .user-slider-box .slick-list {
    width: 100%;
  }
  .main-box .user-slider-box .slick-list .slick-track {
    display: flex;
  }
  .main-box .user-slider-box .slick-list .slick-track > div {
    flex: 1;
  }
}
.main-box .user-slider-box .slick-arrow:before {
  color: #888;
}
.main-box .user-slider-box .slick-prev {
  left: -18px;
}
.main-box .user-slider-box .slick-next {
  right: -13px;
}
@media (max-width: 599px) {
  .main-box .user-slider-box .slick-prev {
    left: 15px;
    z-index: 99;
  }
  .main-box .user-slider-box .slick-next {
    right: 15px;
  }
}
.main-box .user-slider-box .item {
  flex: 1;
  margin: 0 14px;
}
.main-box .user-slider-box .item .photo-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40%;
}
.main-box .user-slider-box .item .content-box {
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-box .user-slider-box .item .content-box .name {
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.88px;
  color: #1c1717;
}
.main-box .user-slider-box .item .content-box .like {
  margin-top: 10px;
  font-size: 12px;
  color: #de4159;
}
.main-box .user-slider-box .item .content-box .follow {
  padding: 4px 0px;
  border-radius: 7.5px;
  background-color: #f16177;
  border-width: 0;
  font-size: 10px;
  color: #ffffff;
}
.main-box .user-slider-box .item .content-box .follow img {
  display: inline-block;
  width: 13px;
  height: 11px;
}
.main-box .user-slider-box .item .content-box .follow span {
  display: inline-block;
  transform: scale(0.8);
}
.main-box .user-slider-box .item .bar {
  position: relative;
  height: 5px;
  border-radius: 2px;
  background-color: #fe7f92;
  overflow: hidden;
}
.main-box .user-slider-box .item .bar .bar-line {
  height: 100%;
  background-color: #004a98;
}
.main-box .user-slider-box .item .statistic-box {
  display: flex;
}
.main-box .user-slider-box .item .statistic-box .statistic-item {
  display: flex;
  align-items: center;
  margin: 14px 14px 0 0;
}
.main-box .user-slider-box .item .statistic-box .title {
  font-size: 8px;
  transform: scale(0.7);
  font-weight: 500;
  color: #004a98;
}
.main-box .user-slider-box .item .statistic-box .count {
  font-size: 15.5px;
  color: #004a98;
}
.main-box .kol-box {
  text-align: center;
}
.main-box .kol-box img {
  width: 100%;
}
.main-box .kol-box button {
  margin-top: 44px;
  margin-bottom: 84px;
  padding: 20px 41px;
  border-radius: 33px;
  border: solid 0.8px #f16177;
  background-color: #f16177;
  font-size: 28px;
  letter-spacing: 2.8px;
  color: #ffffff;
}
@media (max-width: 991px) {
  .main-box .kol-box button {
    font-size: 20px;
    padding: 15px 30px;
  }
}
.main-box .channel-box {
  margin-top: 29px;
  padding: 76px 50px 65px 50px;
  background-color: #eeeeee;
  border-top: 5px solid #c6c6c6;
  border-bottom: 18px solid #c6c6c6;
}
@media (max-width: 766px) {
  .main-box .channel-box {
    padding: 30px 20px;
  }
}
.main-box .channel-box .slick-arrow:before {
  color: #888;
}
.main-box .channel-box .slick-prev {
  left: -31px;
}
.main-box .channel-box .slick-next {
  right: -24px;
}
.main-box .channel-box .channel {
  position: relative;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
}
.main-box .channel-box .channel img {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
}
.main-box .share-slider {
  position: relative;
  margin-top: 21px;
  padding: 23px 30px;
  background-color: white;
}
.main-box .share-slider .slick-arrow:before {
  color: #888;
}
.main-box .share-slider .slick-prev {
  left: -31px;
}
.main-box .share-slider .slick-next {
  right: -24px;
}
@media (max-width: 599px) {
  .main-box .share-slider .slick-prev {
    left: 7px;
    z-index: 99;
  }
  .main-box .share-slider .slick-next {
    right: 7px;
  }
}
.main-box .share-slider .share-item .row {
  position: relative;
  width: 100%;
}
.main-box .share-slider .share-item .row {
  --bs-gutter-x: 0;
}
.main-box .share-slider .share-item .col {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100%;
  margin: 1px;
}
.main-box .process-box {
  display: flex;
  justify-content: center;
  margin: 54px -15px 0;
}
.main-box .process-box .process-item {
  flex: 1;
  margin: 0 15px;
  padding: 66px 22px 26px;
  border-radius: 12px;
  background-color: #004a98;
  text-align: center;
}
.main-box .process-box .process-item:nth-child(2) {
  background-color: #f16177;
}
.main-box .process-box .process-item:nth-child(2) .second-title {
  color: #fecfd6;
}
.main-box .process-box .process-item:nth-child(3) {
  background-color: #d7e0e3;
}
.main-box .process-box .process-item:nth-child(3) .title {
  color: #4b6066;
}
.main-box .process-box .process-item:nth-child(3) .second-title {
  color: #8e9b9f;
}
.main-box .process-box .process-item .title {
  font-size: 35.5px;
  font-weight: 500;
  letter-spacing: 1.78px;
  color: #ffffff;
}
.main-box .process-box .process-item .second-title {
  font-size: 22.5px;
  letter-spacing: 1.13px;
  padding: 13px 0 26px;
  color: #acd4ff;
}
.main-box .process-box .process-item .fa-chevron-right {
  color: white;
  font-size: 22px;
}
@media (max-width: 991px) and (min-width: 767px) {
  .main-box .process-box .process-item {
    margin: 8px;
    padding: 55px 17px 26px;
  }
  .main-box .process-box .process-item .title {
    font-size: 26px;
  }
  .main-box .process-box .process-item .second-title {
    font-size: 18px;
    padding: 8px 0 18px;
  }
  .main-box .process-box .process-item .fa-chevron-right {
    font-size: 14px;
  }
}
@media (max-width: 766px) {
  .main-box .process-box {
    flex-direction: column;
    align-items: center;
  }
  .main-box .process-box .process-item {
    flex: 1;
    width: 80%;
    margin: 9px 0;
  }
}
.main-box .alert-box {
  display: flex;
  margin-top: 103px;
}
@media (max-width: 766px) {
  .main-box .alert-box {
    flex-direction: column;
    align-items: center;
  }
}
.main-box .alert-box .alert-image-box {
  width: 205px;
  position: relative;
  padding: 0 30px;
  margin-right: 42px;
}
@media (max-width: 766px) {
  .main-box .alert-box .alert-image-box {
    width: 60%;
    margin: 0 0 42px;
  }
}
.main-box .alert-box .alert-image-box img {
  width: 100%;
}
.main-box .alert-box .alert-text {
  flex: 1;
  padding: 9px 0 0;
  font-size: 21.5px;
  letter-spacing: 0.11px;
  line-height: 1.49;
  color: #242424;
}
.main-box .alert-box .alert-text .alert-tips {
  padding: 12px 21px;
  color: #3d3d3d;
  font-size: 15px;
  border-radius: 13.2px;
  background-color: #dcdcdc;
  margin-top: 15px;
}
.main-box .bottom-contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .main-box .bottom-contact-box {
    flex-direction: column;
  }
}
.main-box .bottom-contact-box > div {
  flex: 1;
  padding: 16px 55px;
}
.main-box .bottom-contact-box .left-box {
  position: relative;
  border-right: 1px solid #dcdcdc;
  max-width: 300px;
}
@media (max-width: 1024px) {
  .main-box .bottom-contact-box .left-box {
    border-right-width: 0;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.main-box .bottom-contact-box .left-box .logo-image-box {
  position: relative;
  max-width: 100%;
}
.main-box .bottom-contact-box .left-box .logo-image-box img {
  width: 100%;
}
.main-box .bottom-contact-box .center-box {
  border-right: 1px solid #dcdcdc;
  text-align: center;
}
@media (max-width: 1024px) {
  .main-box .bottom-contact-box .center-box {
    border-right-width: 0;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.main-box .bottom-contact-box .center-box .title {
  font-size: 26px;
  text-align: center;
  color: #626262;
}
.main-box .bottom-contact-box .center-box .link-box {
  display: flex;
  justify-content: center;
}
.main-box .bottom-contact-box .center-box .link-box .item {
  position: relative;
  height: 50px;
  margin: 33px 10px 0px;
}
.main-box .bottom-contact-box .center-box .link-box .item img {
  height: 100%;
}
.main-box .bottom-contact-box .right-box .top-box {
  display: flex;
  justify-content: center;
}
.main-box .bottom-contact-box .right-box .top-box .item {
  text-align: center;
  margin: 15px;
}
.main-box .bottom-contact-box .right-box .top-box .circle {
  margin: 0 auto 11px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 61px;
  font-size: 26px;
  margin-bottom: 8px;
}
.main-box .bottom-contact-box .right-box .top-box .circle.phone {
  background-color: #f16177;
}
.main-box .bottom-contact-box .right-box .top-box .circle img {
  width: 100%;
}
.main-box .bottom-contact-box .right-box .top-box .title {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1.58px;
  color: #626262;
}
.main-box .bottom-contact-box .right-box .top-box .content {
  font-size: 14.5px;
  font-weight: 500;
  letter-spacing: -0.36px;
  color: #626262;
}
.main-box .bottom-contact-box .right-box .time-box {
  font-size: 17px;
  letter-spacing: 0.43px;
  text-align: center;
  color: #626262;
  padding: 5px 17px;
  border-radius: 12px;
  border: solid 0.8px #d2d2d2;
  background-color: #fff;
  margin-top: 9px;
}
.main-box .black-cat {
  padding: 22px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .main-box .black-cat {
    flex-direction: column;
    align-items: center;
  }
}
.main-box .black-cat .item {
  position: relative;
  height: 60px;
  width: 300px;
}
@media (max-width: 1024px) {
  .main-box .black-cat .item {
    margin-bottom: 30px;
  }
}
.main-box .black-cat .item:first-child {
  height: 68px;
}
.main-box .black-cat .item img {
  height: 100%;
}

footer {
  border-top: 7px solid #f16177;
  background-color: #005bac;
  padding: 54px 0 33px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 801px) {
  footer .container {
    max-width: 920px;
  }
}
@media (max-width: 800px) {
  footer .container {
    flex-direction: column;
  }
}
footer .item {
  margin: 0 22px;
}
@media (max-width: 800px) {
  footer .item {
    margin: 22px 30px 0;
  }
}
footer .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #fcc707;
  margin-bottom: 17px;
}
@media (max-width: 1199px) {
  footer .title {
    font-size: 17px;
  }
}
footer ul {
  position: relative;
  padding-left: 1em;
}
footer ul li {
  font-size: 13.5px;
  letter-spacing: 0.68px;
  color: #ffffff;
  margin: 12px 0;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

.right-contact-box {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.right-contact-box .circle {
  margin: 0 auto 11px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 61px;
  font-size: 26px;
  margin-bottom: 8px;
}
.right-contact-box .circle img {
  width: 100%;
}

.fa-truck {
  transform: scaleX(-1);
  color: #ccc;
}

.order-bar {
  position: relative;
  background-color: #e3899a;
  overflow: hidden;
}
.order-bar .bar-line {
  background-color: #d41d40;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(4, 0, 0, 0.8);
  white-space: nowrap;
}

.white-bg {
  background-color: white;
}

.banner-box .img-box {
  position: relative;
  margin: 20px auto;
}
.banner-box .img-box img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
